@import '~antd/dist/antd.css';

.app-container {
    padding: 1rem;
}

.ds-ib {
    display: inline-block;
}

.flex-between {
    display: flex;
    /*主轴方向*/
    flex-direction: row;
    flex-wrap: nowrap;
    /*交叉轴方向*/
    align-items: flex-start;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.mov-top-s {
    position: relative;
    top: -1em;
}

.ml-ss {
    margin-left: 0.5em;
}

.ml-s {
    margin-left: 1em;
}

.mr-s {
    margin-right: 1em;
}

.mb-s {
    margin-bottom: 1em;
}
